#navbar{
  position:fixed;
  width:100%;
  height:50px;
  display:flex;
  flex-direction:row;  
  justify-content:space-between;
  align-items:center;
  gap:10px;
  background-color:rgba(0,0,0,0.8);
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter:blur(5px); 
}
.logo{
  flex:0.75;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.nav-link{
  flex:3;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}
.contacts-button{
  flex:1;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
button{
  background-color:var(--layer0);
  width:100px;
  height:30px;
  border-width:3px;
  border-style:solid;
  border-radius:15px;
  filter:
     drop-shadow(0 0 5px var(--secondary-color))
     drop-shadow(0 0 15px var(--secondary-color))
}

.hidden-navbar{
  transform:translateY(-100%);
  transition:transform 0.3s ease-in-out;
}

.shown-navbar{
  transform:translateY(0);
  transition:transform o.3 ease-in-out;
}