#portfolio{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  height:100vh;
  min-height:600px;
  width:100%;
  z-index:1;

}

#portfolio::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background:
        linear-gradient(
            to bottom,
            var(--secondary-color),
            transparent
        );
    filter: blur(8px);
}

#portfolio::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background:
        linear-gradient(
            to top,
            var(--secondary-color),
            transparent
        );
    filter: blur(8px);
}

#portfolio-content{
  position:relative;
  width:100%;
  height:95vh;
  min-height:570px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}

.portfolio-element{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--layer0);
    border-width:0px;
    border-radius:15px;
    filter:
        drop-shadow(0 0 5px var(--secondary-color))
        drop-shadow(0 0 15px var(--secondary-color))
    ;
    transition: hover, 0.2s;
}

.portfolio-element-icon{
    width:200px;
    height:200px;
}
.portfolio-element:hover{
    width:275px;
    height:275px;
    filter:
        drop-shadow(0 0 5px var(--main-color))
        drop-shadow(0 0 15px var(--main-color))
}

#portfolio-content-activated{
  position:relative;
  width:100%;
  height:95vh;
  min-height:570px;
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-items:center;
}
#portfolio-navigation{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height:100%;    
    width:150px;
}
.portfolio-element-activated{
    width:100px;
    height:125px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--layer0);
    border-width:0px;
    border-radius:15px;
    filter:
        drop-shadow(0 0 5px var(--secondary-color))
        drop-shadow(0 0 15px var(--secondary-color))
    ;
    transition: hover, 0.2s;
}

.portfolio-element-icon-activated{
    width:80px;
    height:80px;
}
.portfolio-element-clicked{
    width:100px;
    height:125px;
    filter:
        drop-shadow(0 0 5px var(--main-color))
        drop-shadow(0 0 15px var(--main-color))
    ;
}
#portfolio-active-content{
    width:95%;
    height:95%;
    background-color:#141414;
    border-radius: 25px;
}