#portfolio{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  height:100vh;
  min-height:600px;
  width:100%;
  z-index:1;

}
#portfolio::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background:
        linear-gradient(
            to bottom,
            var(--secondary-color),
            transparent
        );
    filter: blur(8px);
}
#portfolio::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;

    background:
        linear-gradient(
            to top,
            var(--secondary-color),
            transparent
        );
    filter: blur(8px);
}

#portfolio-websection-logo{
  position:absolute;
  top:50px;
  left:50%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:150px;
  background-color:var(--layer0);
  height:30px;
  border-width:0px;
  border-radius:15px;
  filter:
     drop-shadow(0 0 5px var(--secondary-color))
     drop-shadow(0 0 15px var(--secondary-color))
    ;
  transform: translateX(-50%);
}
#portfolio-content{
  display:flex;
  flex-direction:row;
  position:relative;
  width:100%;
  height:95vh;
  min-height:570px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}

.portfolio-section{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--layer0);
    border-width:0px;
    border-radius:15px;
    filter:
        drop-shadow(0 0 5px var(--secondary-color))
        drop-shadow(0 0 15px var(--secondary-color))
    ;
    transition: hover, 0.2s;
}
.portfolio-section-icon{
    width:200px;
    height:200px;
}
.portfolio-section:hover{
    width:275px;
    height:275px;
    filter:
        drop-shadow(0 0 5px var(--main-color))
        drop-shadow(0 0 15px var(--main-color))
}



#portfolio-content-activated{
  position:relative;
  width:100%;
  height:95vh;
  min-height:570px;
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-items:stretch;
  box-sizing:border-box;
  padding:25px 0;
}
#portfolio-navigation-activated{
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height:100%;    
    width:150px;
    margin:0 25px 0 25px;

    background:#141414;

    border-radius:25px;
    border:1px solid rgba(255,255,255,.05);

    box-shadow:
        /* Main shadow */
        0 10px 30px rgba(0,0,0,.45),

        /* Soft shadow close to element */
        0 4px 10px rgba(0,0,0,.35),

        /* Top highlight */
        inset 0 1px 0 rgba(255,255,255,.08),

        /* Bottom dark edge */
        inset 0 -1px 0 rgba(0,0,0,.45);

    transition:
        transform .25s ease,
        box-shadow .25s ease;
}
#portfolio-websection-logo-activated{
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:#252525;
    width:120px;
    height:50px;
    border-width:0px;
    border-radius:25px;
    box-sizing:border-box;
    border:1px solid rgba(255,255,255,.05);

    box-shadow:
        /* Main shadow */
        0 10px 30px rgba(0,0,0,.45),

        /* Soft shadow close to element */
        0 4px 10px rgba(0,0,0,.35),

        /* Top highlight */
        inset 0 1px 0 rgba(255,255,255,.08),

        /* Bottom dark edge */
        inset 0 -1px 0 rgba(0,0,0,.45);
}
.portfolio-section-activated{
    width:115px;
    height:125px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#141414;
    border-width:0px;
    border-radius:15px;
    filter:
        drop-shadow(0 0 5px var(--secondary-color))
        drop-shadow(0 0 15px var(--secondary-color))
    ;
    transition: hover, 0.2s;
}
.portfolio-section-icon-activated{
    width:80px;
    height:80px;
}
.portfolio-section-clicked{
    width:125px;
    height:125px;
    filter:
        drop-shadow(0 0 5px var(--main-color))
        drop-shadow(0 0 15px var(--main-color))
    ;
}

#portfolio-active-content{
    display:flex;
    flex-direction:column;
    gap:10px;

    flex: 0.98;
    height:100%;
    min-width:0;
    background-color:#141414;
    border-radius: 25px;
    padding:15px;
    box-sizing:border-box;
}